body{
    background-color: #585858;
}
.packages{
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #FFFFFF;
}
.packages td{
    border: none;
    box-shadow: inset 6px 0 4px -5px rgba(0, 0, 0, 0.27);
}
.packages td:nth-child(2){
    box-shadow: none;
}
.packages td:first-child{
    box-shadow: inset -6px 0 4px -5px rgba(0, 0, 0, 0.27);
}
.package-title{
    font-size: 24px;
    font-weight: normal;
    padding: 15px 70px;
    color: #FFFFFF;
}

.package-big-price{
    font-size: 60px;
    line-height: 69px;
    padding: 7px 30px;
    /*padding: 10px 0;*/

}
.month{
    display: inline-block;
}
.month span{
    display: block;
    font-size: 24px;
    line-height: 26px;
    text-align: left;
}
.month span:last-child{
    font-size: 18px;
}
.main-title{
    font-size: 30px;
    white-space: nowrap;
    padding: 0 50px;
    vertical-align: top;
;
}
.main-sub-title{
    font-size: 18px;
    padding: 50px 50px 0px;
    text-align: center;
}

.packages tbody tr:nth-child(odd){
    background-color: #F2F2F2;
}
.packages tbody tr:nth-child(even){
    background-color: #E3E3E3;
}
.icon{
    padding: 24px 3px;
    font-size: 28px;
    color: #848484;
}
.package-btn{
    color: #ffffff;
    font-size: 16px;
    border: none;
    padding: 20px 60px;
    border-radius: 10px;
    display: inline-block;
    background-color: #707070;
    text-transform: uppercase;
    margin: 15px 0;
    text-decoration: none;
    box-shadow: inset 0 -70px 0 -63px #484848;
    transition-property: box-shadow;
    transition-duration: 1s;
}
.package-btn:hover{
    box-shadow: inset 0 -70px 0 -54px #484848;
}
td{
    border: 1px solid black;
}

.package1-bg{
    background-color: #89C331;
}
.package2-bg{
    background-color: #F04A56;
}
.package3-bg{
    background-color: #20807C;
}

.package1-shadow{
    box-shadow: inset 0 -70px 0 -63px #79B027;
}
.package2-shadow{
    box-shadow: inset 0 -70px 0 -63px #DF3A46;
}
.package3-shadow{
    box-shadow: inset 0 -70px 0 -63px #16736F;
}
.package1-shadow:hover{
    box-shadow: inset 0 -70px 0 -54px #79B027;
}
.package2-shadow:hover{
    box-shadow: inset 0 -70px 0 -54px #DF3A46;
}
.package3-shadow:hover{
    box-shadow: inset 0 -70px 0 -54px #16736F;
}
.footer-col-1{
    background-color: #DDDDDD;
}
.footer-col-2{
    background-color: #EEEEEE;
}
.footer-col-3{
    background-color: #F4F4F4;
}
.footer-col-4{
    background-color: #EEEEEE;
}